<h1>Registration Form</h1>
<div class="col-md-4 col-offset-md-4">
<form [formGroup]="registerationForm">
  Enter User Name: <input class="formControl" formControlName="userNameReg"  type="text"><br>
  Enter passWord: <input class="formControl" formControlName="passWordReg" type="text"><br>
  Enter Confirm passWord: <input class="formControl" formControlName="confirmPsswdReg" type="text"><br>
  Enter email: <input class="formControl" formControlName="emailReg" type="text"><br>
  Enter mobile: <input class="formControl" formControlName="mobileReg" type="text"><br>

  <button [disabled]="registerationForm.invalid" (click)="register()" class="btn btn-primary" type="button">Register</button>
</form>
</div>
