<!-- <p>forgot-password works!</p> -->


<div class="container" >
  <div class="row">
    <div class="col-xs-4 col-xs-offset-6" style="margin-left: 400px; margin-top: 60px; margin-bottom: 100px;">
      <div class="panel panel-default" >
        <div class="panel-heading" style=" padding: 10px; text-align: center; font-size: 25px;">Forgot Password</div>
        <div class="panel-body" style=" padding: 10px; width: 400px;">
          <form class="formGroup" [formGroup]="forgetPasswordForm">
            <input mdbInput class="form-control btn-block" placeholder="Enter email for verification" formControlName="emailfrgpsswd" type="email" style="border-radius: 10px ; padding-left: 10px;">
            <div class="text-danger div-text-danger-style" *ngIf = "(emailfrgpsswd.invalid) && (emailfrgpsswd.dirty || emailfrgpsswd.touched)" style="margin-left: 10px;">
              Email is required
            </div>
            <br>
            <input mdbInput class="form-control btn-block" placeholder="Enter password" formControlName= "passwordfrgpsswd" type="password" style="border-radius: 10px ;padding-left: 10px;">
            <div class="text-danger" *ngIf = "(passwordfrgpsswd.invalid) && (passwordfrgpsswd.dirty || passwordfrgpsswd.touched)" style="margin-left: 10px;">
              Password is required
            </div>
            <br>
            <input mdbInput class="form-control btn-block" placeholder="Enter confirm password" formControlName= "conPsswdfrgpsswd" type="password" compare="passwordfrgpsswd" style="border-radius: 10px ;padding-left: 10px;">
            <div class="text-danger" *ngIf = "(conPsswdfrgpsswd.invalid) && (conPsswdfrgpsswd.dirty || conPsswdfrgpsswd.touched)" style="margin-left: 10px;">
              <div *ngIf="conPsswdfrgpsswd.errors['required']">Confirm Password is required</div>
              <div *ngIf="conPsswdfrgpsswd.errors['compare']">Password and Confirm password does not match</div>
            </div>
            <br>
            <button [disabled]="forgetPasswordForm.invalid" class="btn btn-primary btn-block" (click)="forgotPassword()" >Update</button>&nbsp;
            <br>
            <a class="formControl" (click)="onbackClick()">Back</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




